header {
	width: 100%;
}

header > div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

header .rightContents {
	padding: 20px;
	background-color: white;
	border: 1px solid black;
	min-width: 200px;
	flex: 1;
	> * {
		margin: 10px;
	}
}
.colorContainer {
	width: 100%;
	padding: 0;
}

.color {
	width: 100%;
	position: relative;
	top: 0;
	padding: 100px;
	background-color: blue;
	z-index: -1;
}
