header {
	position: relative;
	width: 100%;
}

header > div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

header .rightContents {
	padding: 20px;
	background-color: white;
	border: 1px solid black;
	min-width: 200px;
	flex: 1;
	> * {
		margin: 30px;
	}
} /*
.colorContainer {
	display: initial;
	position: fixed;
	left: 0;
	top: -30px;
	width: 100vw;
	padding: 0;
}

.color {
	width: 100%;
	position: relative;
	padding: 100px;
	background-color: blue;
	z-index: -1;
} */
