section {
	margin: 50px auto;
}

.cardContainer {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 40px;
}
.card {
	box-shadow: 1px 1px 10px lightgray;
	padding-bottom: 10px;
	.cardContents {
		padding: 10px 20px;
	}
	div {
		margin-bottom: 15px;
	}
}

.topContents {
	display: flex;
	justify-content: space-between;
	img {
		width: 22px;
		margin-left: 5px;
	}
}

.imgPlaceholder {
	aspect-ratio: 2/1.25;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
